<div class="container">

  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="input-group mb-3 mt-3">

      <input formControlName="searchInput" type="text" class="form-control" placeholder="Search.."
        aria-label="searchInput" aria-describedby="button-addon2" [(ngModel)]="searchModel">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="submit" id="button-addon2">Search</button>
      </div>
    </div>
  </form>

  <div id="alert" class="alert alert-warning" role="alert">
    This keyword is not found, please try again.
  </div>
  <table class="table table-hover" *ngIf="movieList">
    <thead>
      <tr>
        <th scope="col">
          Poster
        </th>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movieList" [routerLink]="'/view/'+movie.imdbID">
        
        <td>
          <img src="{{movie.Poster}}" class="rounded" alt="{{movie.Title}}">
        </td>
        <td>{{movie.Title}}</td>
        <td>{{movie.Year}}</td>
        <td>{{movie.Type}}</td>
      </tr>
    </tbody>
  </table>
</div>