<div class="card">
  <table >
    <tr>
      <td>
        <img src="{{detailMovie.Poster}}" alt="{{detailMovie.Title}}">
      </td>
      <td>
        <div class="container">
          <h1>Title : <span class="badge badge-primary">{{detailMovie.Title}}</span></h1>
          <h2>Year : <span class="badge badge-primary">{{detailMovie.Year}}</span></h2>
          <h2>Type : <span class="badge badge-primary">{{detailMovie.Type}}</span></h2>
          <h2>Plot : {{detailMovie.Plot}}</h2>
          <h2>IMDB rating : <span class="badge badge-primary">{{detailMovie.imdbID}}</span></h2>
          <h2>Runtime : <span class="badge badge-primary">{{detailMovie.Runtime}}</span></h2>
          <h2>Genre : <span class="badge badge-primary">{{detailMovie.Genre}}</span></h2>
        </div>
      </td>
    </tr>
  </table>
  <div class="text-center">
    <button class="btn btn-primary m-2 col-4" (click)="backClicked()">Back to movie list</button>
  </div>
</div>